<meta content="Isaac Blueprints" property="og:site_name" />
<meta content="Isaac Blueprints" property="twitter:site" />
<meta content="https://isaacblueprints.com/" property="og:url" />
<meta content='View Binding of Isaac modding tutorials on numerous topics, from the nichest interactions to the most common questions.' property="og:description" />
<meta content='View Binding of Isaac modding tutorials on numerous topics, from the nichest interactions to the most common questions.' property="twitter:description" />
<meta content="https://isaacblueprints.com/tutorials/assets/isaacsblueprints.png" property="og:image" />
<meta content="#566c8a" data-react-helmet="true" name="theme-color" />